
:root {
  --color-fondo: #f4f4f9;
  --color-violeta-link: #7E57C2;
  --color-violeta-dark: #6a0dad;
  --color-blanco: #ffffff;
  --color-header: #A58AD9;
  --color-header-hoover: #5e35b1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
}

/* HEADER  */
.main-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 1em;
  background-color: var(--color-header);
  color: var(--color-blanco);
  gap: 1em;
}

/* LOGO */
.logo img {
  max-height: 5.3125em;
  width: auto;
}

.logo .logo-mobile {
  display: none;
}

/* NAVBAR */
/*  menú hamburguesa */
#menu-toggle {
  display: none;
}

/* Icono hamburguesa */
.menu-icon {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.625em;
}

.menu-icon .line {
  width: 1.5625em;
  height: 0.1875em;
  margin: 0.25em 0;
  border-radius: 2px;
}

/* Contenedor Nav */
.navbar {
  flex-grow: 1;
  margin-left: 2em;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 1.5em;
  align-items: center;
  padding: 0;
  margin: 0;
}

.nav-link {
  color: var(--color-blanco);
  font-weight: 600;
  padding: 0.5em 0;
}

.nav-link:hover {
  color: var(--color-header-hoover);
  text-decoration: underline;
}

/*Barra de busquedad */
.search-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5em;
/*  */
}

.search-bar form {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
  background-color: var(--color-blanco);
}

.search-bar select {
  border: none;
  outline: none;
  padding: 0.4em 0.6em;
  font-size: 0.95em;
  background: none;
  cursor: pointer;
}

.search-bar .search-button {
  background: var(--color-violeta-link);
  border: none;
  padding: 0.4em 0.6em;
  cursor: pointer;
  transition: background 0.3s ease;
}

.search-bar .search-button:hover {
  background: var(--color-violeta-dark);
}

.search-bar .search-button img {
  width: 1.3em;
  height: 1.3em;
}

/* Iniciar Sesion y Registrarse */
.user-actions {
  display: flex;
  align-items: center;
  gap: 0.8em;
}

.login-button,
.signup-button {
  background: var(--color-violeta-link);
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  color: var(--color-blanco);
  font-weight: 600;
  cursor: pointer;
}

.login-button:hover,
.signup-button:hover {
  background: #5e35b1;
}

.logo-iniciarSesion-Responsive {
  display: none;
}

/* Carrito  */
#Carro {
  display: none;
}

/* Contenedor del icono */
.carrito {
  position: relative;
}

.carrito_icono {
  color: black;
  font-size: 1.5em;
}

.carrito_icono:hover {
  cursor: pointer;
}

.cart-count {
  position: absolute;
  top: -0.625em;
  right: -10px;
  background: #dc3545;
  color: var(--color-blanco);
  border-radius: 50%;
  font-size: 0.7em;
  font-weight: bold;
  padding: 0.125em 0.375em;
}

/* Caja del carrito desplegable */
.caja_carrito {
  display: none;
  grid-auto-rows: auto; 
  position: absolute;
  top: 4em;
  width: 18em;
  right: 0em;
  border-radius: 0.5em;
  z-index: 9999;
  border: solid #E6D6FF; 
  background: white; 
  max-height: 40em; 
}

/* Lógica de despliegue */
#Carro:checked~.caja_carrito {
  display: grid;
}

.carrito-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.carrito-item-info {
  margin-top: 0.5em;
  margin-left: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.js-titulo-carrito {
  color: #7E57C2;
  text-align: center;
}

.js-titulo-curso {
  color: #7E57C2;
}

.js-cantidad-carrito-curso {
  color: black;
  font-size: small;
}

.js-precio-carrito-curso {
  color: black;
  font-size: small;
}

.carrito-boton-eliminar {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 1em;
}

.carrito-eliminar {
  font-size: 2em;
  color: red;
  background: transparent;
  border: none;
}

.js-img-curso {
  align-items: center;
  width: 70%;
}

.Imagen_agregar_carrito {
  width: 10em;
  height: 5em;
}

.expandir_borrar {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.expandir_borrar img {
  max-width: 100%;
  height: auto;
}

.carrito-subtotal {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  gap: 0.6em;
  align-items: center;
}

.carrito-subtotal-texto {
  color: #7E57C2;
}

.carrito-pagar-vaciar {
  display: flex;
  gap: 1em;
  margin-bottom: 1.2em;
}

.carrito-pagar-boton {
  color: #7E57C2;
  text-decoration: underline;
}

.carrito-vaciar {
  color: #5e35b1;
  border: none;
  font-size: small;
  background-color: inherit;
}

.carrito-vacio {
  font-size: medium;
  color: red;
}

/* FOOTER*/
.container-footer {
    background-color: var(--color-header); 
    color: black;
    padding: 2rem 5%;
    display: flex; 
    justify-content: space-between;
    align-items: flex-start;
    margin-top: auto; 
}

.datos-equipo ul {
    list-style: none; 
    line-height: 1.6;
}

.nombre-equipo {
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: var(--color-violeta-dark);
}

.menu-inferior {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.menu-inferior a {
    color: black;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

.menu-inferior a:hover {
    color: var(--color-violeta-dark); 
}

.redes-sociales {
    text-align: center;
     color: var(--color-violeta-dark);
}

.parrafo-socialMedia {
    margin-bottom: 1rem;
    font-weight: bold;
}

.redes-sociales-nav {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.social-icon {
    width: 32px;
    height: 32px;
    transition: transform 0.2s;
}

.social-icon:hover {
    transform: scale(1.1); 
}



/* RESPONSIVE  */
@media (max-width: 1204px) {
    .ocultar-enlace {
    display: none;
}

    .user-actions .login-button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.25em 0.5em;
        font-size: 0; /* Oculta el texto "Iniciar Sesión" */
        background-color: var(--color-header);
    }

    /* Ajuste del Icono de personita */
    .user-actions .login-button .logo-iniciarSesion-Responsive {
        display: inline-block;
        width: 30%;
    }

    .user-actions {
        display: flex;
        justify-content: flex-end; 
        align-items: center;
    }
}

@media (min-width: 769px) and (max-width: 1204px) {
    
    .search-bar {
        flex: 1;
        max-width: 300px;
    }

    .carrito img {
        width: 2em;
    }

    .container-footer {
        padding: 2rem 3%; 
        font-size: 0.95rem; 
    }
    
    .redes-sociales-nav {
        gap: 10px;
    }
}

@media (max-width: 768px) {
    
    .logo,  .user-actions .signup-button {
        display: none;
    }

    /* Barra de busquedad */
    .search-bar {
        width: 100%;
        max-width: 90%;
        margin: 0.5em 0;
        justify-content: center;
    }

    .search-bar input {
        width: 100%;
        font-size: 0.9em;
    }

    .search-bar .links a {
        font-size: 0.9em;
        padding: 0.5em;
    }

    /* Menu hamburguesa */
    .menu-icon {
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }

    .menu-icon .line {
        width: 1.5625em;
        height: 0.1875em;
        background: #333333;
        margin: 0.2em 0;
        border-radius: 2px;
    }

    .navbar {
        position: absolute;
        top: 4em;
        left: -2em;
        width: 20%;
        background: #7e57c2;
        flex-direction: column;
        padding: 1em 0;
        display: none; 
        z-index: 1001;
    }

    .nav-list {
        flex-direction: column;
        gap: 1em;
    }

  /* Para mostrar menu hamburguesa */
    #menu-toggle:checked ~ .navbar {
        display: flex;
    }

    .user-actions {
        gap: 0.2em;
    }

/* Footer */
    .container-footer {
        flex-direction: column; 
        align-items: center;
        text-align: center;
        gap: 1rem; 
    }

    .menu-inferior {
        align-items: center; 
    }
    
    .datos-equipo, 
    .menu-inferior, 
    .redes-sociales {
        width: 100%; 
        border-bottom: 1px solid rgba(255,255,255,0.2); 
        padding-bottom: 1rem;
    }

    .redes-sociales {
        border-bottom: none;
    }
}

@media (max-width: 480px) {
    
    .navbar {
        width: 50%; 
    }

    .container-footer {
        padding: 1.5rem;
    }

    .nombre-equipo {
        font-size: 1.1rem;
    }

    .menu-inferior a {
        padding: 5px; 
    }

    .social-icon {
        width: 28px; 
        height: 28px;
    }
}