* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
}

/* Estilos del HEADER  */
.main-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 1em;
  background-color: #9575CD;
  color: #fff;
  gap: 1em;
  /* Este color es del LOGO*/
}

.logo-iniciarSesion-Responsive {
display: none;
}
  /* Este id hace referencia a las rayiyas que aparecen en responsive en menu hamburguesa */
#menu-toggle {
  display: none;
}

/* Logo */
.logo img {
  max-height: 5.3125em;
  width: auto;
}

.logo .logo-mobile {
  display: none;
}

/* Barra de navegación */
.navbar {
  flex-grow: 1;
  margin-left: 2em;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 1.5em;
  align-items: center;
  padding: 0;
  margin: 0;
}

.nav-link {
  color: #ffffff;
  font-weight: 600;
  font-size: 1em;
  text-decoration: none;
  padding: 0.5em 0;
  border-bottom: 3px solid transparent;
  transition: border-color 0.3s ease, color 0.3s ease;
}

.nav-link:hover {
  color: #d1c4e9;
  text-decoration: underline;
}

/*  hamburguesa */
.menu-icon {
  display: none;
  /* oculto en escritorio */
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.625em;
}

.menu-icon .line {
  width: 1.5625em;
  height: 0.1875em;
  background-color: #333333;
  margin: 0.25em 0;
  border-radius: 2px;
}

/* Barra de búsqueda */
.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  position: relative;
  font-family: sans-serif;
  padding: 0;
}

/* Contenedor del formulario de búsqueda */
.search-bar form {
  display: flex;
  align-items: center;
  border: 2px solid #7E57C2; 
  border-radius: 8px;
  overflow: hidden;
  background-color: white;
  transition: box-shadow 0.3s ease;
}

.search-bar form:focus-within {
  box-shadow: 0 0 0 3px #d1c4e9; 
}

/* Input de texto para la busqueda */
#curso-input {
  border: none;
  outline: none;
  padding: 0.6em 1em;
  font-size: 1em;
  background: none;
  color: #333;
  width: 200px;
  transition: width 0.3s ease;
}

/* Botón lupa */
.search-button {
  background-color: #7E57C2; 
  border: none;
  padding: 0.7em 0.8em;
  cursor: pointer;
  height: 100%;
  border-radius: 0; 
}
.search-button img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  filter: brightness(0) invert(1); /* Pone la lupa blanca */
}


/* Carrito del header */
.carrito {
  position: relative;
}

.carrito img {
  width: 1.75em;
  height: auto;
}

.cart-count {
  position: absolute;
  top: -0.625em;
  right: -10px;
  background: #dc3545;
  color: white;
  border-radius: 50%;
  font-size: 0.7em;
  font-weight: bold;
  padding: 0.125em 0.375em;
}

.user-actions {
  display: flex;
  align-items: center;
  gap: 0.8em;
}

.login-button,
.signup-button {
  background: #7E57C2;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.login-button:hover,.signup-button:hover {
  background: #5e35b1;
}

/* CARRITO  */
.caja_carrito{
  display: none;  
  grid-auto-rows: auto;
  position: absolute;
  top: 4em;
  width: 18em;
  right: 0em;
  border-radius: 0.5em;
  z-index: 9999;
  border: solid #E6D6FF;
  background: white;
   /* max-height: 40em;    */
  /* overflow-y: auto;  */
}

#Carro{
  display: none;
}

#Carro:checked ~ .caja_carrito{
  display: grid;          
}


.carrito-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:1em;
  
}

.carrito-item-info{
  margin-top:0.5em;
  margin-left:1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.js-titulo-carrito{
  color: #7E57C2; 
  text-align: center;
}
.js-titulo-curso{
  color: #7E57C2; 

}

.js-cantidad-carrito-curso{
color: black;
font-size: small;

}

.js-precio-carrito-curso{
color: black;
font-size: small;
}
.carrito-boton-eliminar{
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap:1em;
}
.carrito-subtotal{
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  gap:0.6em;
  align-items: center;
}

/* LA X de al lado de la imagen dentro del carrito de compras */
.carrito-eliminar{
  font-size: 2em;
  color: red;     
  background: transparent;
  border: none;

}
.carrito-vacio{
  font-size: medium;
  color:red;
}
.carrito-subtotal-texto {
   color:#7E57C2; 
}
.carrito-pagar-boton{
  color:#7E57C2; 
  text-decoration: underline;
}
.carrito-vaciar{
font-size: medium;
  color:#5e35b1;;
  border:none;
  font-size: small;
  background-color: inherit;
}
.carrito-pagar-vaciar{
  display: flex;
  gap:1em;
    margin-bottom: 1.2em;
}
/* Imagen del carrito desplegable*/
.js-img-curso{
  align-items: center;
  width: 70%;
  
}

/* FOOTER*/
.container-footer a {
  text-decoration: none;
}

.container-footer a:hover {
  color: #7E57C2;
}

.container-footer {
  width: 100%;
  background-color: #694d99;
  color: black;
  display: flex;
  justify-content: space-between;
  padding: 2em 2em;
  flex-wrap: wrap;
  gap: 2em;
}


/* Lista de datos del equipo */
.datos-equipo ul {
  list-style: none;

}

.datos-equipo li {
  margin-top: 0.3em;
   list-style: none;
}

/* Para que el nombre este en negrita */
/* .nombre-equipo{
font-weight: 600;
} */

/* Menú inferior */
.menu-inferior {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-right: 6em;
}

.menu-inferior a {
  text-decoration: none;
  color: black;
}


.menu-inferior a:hover {
  color: #7E57C2;
}

/* Redes sociales */

.parrafo-socialMedia {
  margin-bottom: 1em;
  color: black;
  text-align: center;
}


.redes-sociales-nav {
  display: flex;
  flex-direction: row;

}

.redes-sociales .social-icon {

  gap: 1em;
  width: 2.1875em;
  height: 2.1875em;
  margin-left: 0.8em;
  align-items: flex-end;
  /* Para suavizar la transformacion cuando se haga el hover 
    transition : propiedad a utilizar - duracion*/
  transition: transform 0.3s
}

.redes-sociales .social-icon:hover {
  transform: scale(1.3);

}

/* RESPONSIVE  HEADER*/
/*CELUS*/

@media (max-width: 480px) {
  #curso-input {
    width: 160px;
  }
  .main-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
  }

  .logo img {
    max-height: 40px;
    width: auto;
    display: block;
  }
  
  .menu-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  .menu-icon .line {
    width: 1.5625em;
    height: 0.1875em;
    background: #333333;
    margin: 0.2em 0;
    border-radius: 2px;
  }

  .navbar {
    position: absolute;
    top: 4em;
    left: 0; 
    width: 100%;
    background: #7e57c2;
    flex-direction: column;
    align-items: center;
    padding: 1em 0;
    display: none;
    z-index: 1001;
  }

  .nav-list {
    flex-direction: column;
    gap: 1em;
  }

  /* HAMBURGUESA */

  #menu-toggle:checked~.navbar {
    display: flex;
  }

  .user-actions .signup-button {
    display: none;
  }

  .user-actions {
  display: flex;
  align-items: center;
  gap: 0.2em;
}
  .search-bar {
    width: 100%;
    margin: 0.5em 0;
  
  }

  .search-bar input {
    width: 100%;
  }

  .carrito {
    font-size: 0.9em;
  }

  .carrito img {
    max-width: 13em;
    /* width: 70%; */
  }
   .user-actions .login-button {
    display: flex;    
    justify-content: center;    
    align-items: center;
    padding: 0.25em 0.5em;            
    font-size: 0;  
   /* En cero hace que el iniciar sesion no se vea */
  }

  /* Imagen dentro del botón */
  .user-actions .login-button .logo-iniciarSesion-Responsive {
    display: inline-block;
    width: 40%;  

  }
  .login-button, .signup-button {
    background:#7e57c2; ;

}


  /* FOOTER */
  .container-footer {
    flex-direction: column;
    align-items: flex-start;
    padding: 1em;
    font-size: 0.8em;
  }

  .menu-inferior {
    flex-direction: column;
    margin-left: 0;
    gap: 0.5em;
  }

  .redes-sociales-nav {
    flex-direction: row;
    justify-content: flex-start;
    gap: 1em;
  }

  .parrafo-socialMedia {
    display: none;
  }
}

/*TABLETS*/
@media (min-width: 300px) and (max-width: 1105px) {

  /* HEADER */
  .main-header {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em;
   
  }

  .logo {
    display:none;
  }

  .navbar {
  margin-left: 0;
  }


  .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
  }

   /* MENU HAMBURGUESA  */
  .menu-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  .menu-icon .line {
    width: 2.625em;
    height: 0.3125em;
    background: #333333;  /* COLOR DE LAS BARRITAS DEL MENU HAMBURGUESA */
    margin: 0.25em 0;
  }

  .navbar {
    position: absolute;
    top: 4em;
    /* left: 0; */
    /* width: 100%; */
    background: #7e57c2;
    flex-direction: column;
    align-items: center;
    /* padding: 1em 0; */
    display: none;
    z-index: 1001;
  }

  .nav-list {
    flex-direction: column;
    gap: 1em;
  }


  #menu-toggle:checked~.navbar {
    display: flex;
  }

 
  .search-bar {
    flex: 1;
    max-width: 300px;
  }


  .user-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .carrito img{
    width: 2em;

  }


  /* FOOTER */
  .container-footer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1em;
    font-size: 0.9em;
  }

  .menu-inferior {
    flex-direction: column;
    margin-left: 0;
    gap: 0.5em;
  }

  .redes-sociales-nav {
    flex-direction: row;
    gap: 1em;
  }
}

@media (max-width: 1024px) {
  .logo .logo-desktop { 
    display: none; 
  }

  .logo .logo-mobile  {
 display: block;
  }

}


/*RESPONSIVE*/

  @media (max-width: 600px){

    .main-header {
    font-size: 14px;
    padding: 0em;
    }
    .search-bar {
      flex-direction: row;
    }


  .dropbtn {
    width: 100%;
    text-align: left;
    padding: 1em;
    font-size: 1.1em;
  }

  
  .dropdown-content {
    
    box-shadow: none;
    min-width: 100%;
    border: 1px solid #ccc;
  }

  .dropdown-content li a {
    padding: 1em;
    border-bottom: 1px solid #eee;
  }
  }

  .search-button {
    align-self: flex-end;
    padding: 0.9em;
  }


/* Responsive */
@media (max-width: 480px) {
  .search-bar {
    max-width: 50%;
  }

  .search-bar input {
    font-size: 0.9em;
  }

  .search-bar .links a {
    font-size: 0.9em;
    padding: 0.5em;
  }
}

@media (max-width: 383px) {
    .main-header {
    font-size: 12px;
    }
  .dropbtn {
padding: 0em;
  }
 .user-actions .login-button .logo-iniciarSesion-Responsive {
   padding: 0;
  }
}